{% extends "base.html" %}


{% block title %} Cupcakes!!!!! {% endblock %}

{% block content %}
<h1>Cupcakes!</h1>
<ul id="cupcakes-section">
  
</ul>
<form action="" id="search-form">
  <div class="mb-3 row">
    <label for="search-cupcake" class="col-sm-2 col-form-label">Search</label>
    <div class="col-sm-10">
      <input type="text" name="search" class="form-control" id="search-cupcake">
    </div>
  </div>
  <button type="submit" class= "btn btn-primary">Search for Cupcakes!</button>
</form>
<form action="" id="cupcake-form">
  <div class="mb-3 row">
    <label for="flavor" class="col-sm-2 col-form-label">Flavor</label>
    <div class="col-sm-10">
      <input type="text" name="flavor" class="form-control" id="flavor">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="size" class="col-sm-2 col-form-label">Size</label>
    <div class="col-sm-10">
      <input type="text" name="size" class="form-control" id="size">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
    <div class="col-sm-10">
      <input type="text" name="rating" class="form-control" id="rating">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="image" class="col-sm-2 col-form-label">Image</label>
    <div class="col-sm-10">
      <input type="url" name="image" class="form-control" id="image">
    </div>
  </div>
  <button type="submit" class= "btn btn-primary">Add a Cupcake!</button>
</form>

{% endblock %}